// ---------------------------- Sass VARIABLES: --------------------------------
// ----------------------------- @GLOBAL SIZES ---------------------------------
//Based on HTML font percent (100% || 16px) :
$size-1: .0625rem; // 1px
$size-2: .125rem; // 2px
$size-4: .25rem; // 4px
$size-6: .375rem; // 6px
$size-8: .5rem; // 8px
$size-10: .625rem; // 10px
$size-12: .75rem; // 12px
$size-14: .875rem; // 14px

$size-16: 1rem; // 16px

$size-18: 1.125rem; // 18px
$size-20: 1.25rem; // 20px
$size-30: 1.875rem; // 30px
$size-40: 2.5rem; // 40px
$size-50: 3.125rem; // 50px
$size-60: 3.75rem; // 60px
$size-70: 4.375rem; // 70px
$size-80: 5rem; // 80px
$size-90: 5.625rem; // 90px
$size-100: 6.25rem; // 100px
$size-200: 12.5rem; // 200px
$size-300: 18.75rem; // 300px
$size-400: 25rem; // 400px
$size-500: 31.25rem; // 500px
$size-1000: 62.5rem; // 1000px

//Calc Sample:
// 960px:
// calc(#{$size-500} + #{$size-400} + #{$size-60});


// Size of web-page width ---------------------------------------------------
// 73.75rem is same or more or less as 1180px, 960px = 60rem, 83.375rem = 1366px:

// $page-width: 83.375rem !default;
$page-width: 100% !default;



// =-=-=-=-=-=-=-=-=-=-=-=-=-=-= Swatch Palette: =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// ---------------------------- CSS VARIABLES: ---------------------------------
:root {

// Decorations ----------
--swatch-black: rgba(11, 12, 12, 1); // Not used
--swatch-dark: rgba(14, 17, 26, .4); // Used on Box Shadow
--swatch-white: rgba(225, 229, 236, 1); // Not used
--swatch-red: rgba(199, 71, 52, 1);  // Not used
--swatch-orange: rgba(255, 176, 71, 1); // Used on hamburger's hover


// ----------  GREY THEME:

// --swatch-accent: rgb(179, 186, 190);
// --swatch1: rgba(244, 243, 243, 1);
// --swatch2: rgba(179, 179, 179, 1);
// --swatch3: rgba(128, 128, 128, 1);
// --swatch4: rgba(77, 77, 77, 1);
// --swatch5:rgba(31, 32, 36, 1);


// ----------   NIGHT THEME:

// --swatch-accent: rgba(162, 182, 133, 1);
// --swatch1: rgba(236, 239, 241, 1);
// --swatch2: rgba(144, 164, 174, 1);
// --swatch3: rgba(36, 35, 65, 1);
// --swatch4: rgba(22, 27, 42, 1);
// --swatch5: rgba(14, 17, 26, 1);


// ----------   BLUE-GREY THEME:

--swatch-accent: rgba(162, 182, 133, 1);
--swatch1: rgba(236, 239, 241, 1);
--swatch2: rgba(154, 176, 186, 1);
--swatch3: rgb(77, 110, 126);
--swatch4: rgba(55, 71, 79, 1);
--swatch5:rgba(38, 50, 56, 1);


// Main Containers:
--swatch-body: var(--swatch4);
--swatch-headers: var(--swatch5); // Header, Hero and Footer background color
--swatch-containers: var(--swatch5); // Containers (cards etc) background color
--swatch-nav: var(--swatch3); // Navbar and Sidebars background color

// Typography:
--swatch-text: var(--swatch1); // Global Text
--swatch-titles: var(--swatch2); // Cards etc
--swatch-h: var(--swatch-accent); // h1-h6
--swatch-p: var(--swatch2); // Paragraph blocks
// Font Stacks:
--default-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


// Buttons:
--swatch-button1: var(--swatch4); // Background color
// Misc;
--swatch-icon: var(--swatch-accent); // Icon fill color
}
// -------------------------- END of CSS VARIABLES: ------------------------------
