
// ---------------------------- Sass VARIABLES: --------------------------------

// ----------------------------- @GLOBAL SIZES ---------------------------------
//Based on HTML font percent (100% || 16px) :
$size-1: .0625rem; // 1px
$size-2: .125rem; // 2px
$size-4: .25rem; // 4px
$size-6: .375rem; // 6px
$size-8: .5rem; // 8px
$size-10: .625rem; // 10px
$size-12: .75rem; // 12px
$size-14: .875rem; // 14px

$size-16: 1rem; // 16px

$size-18: 1.125rem; // 18px
$size-20: 1.25rem; // 20px
$size-30: 1.875rem; // 30px
$size-40: 2.5rem; // 40px
$size-50: 3.125rem; // 50px
$size-60: 3.75rem; // 60px
$size-70: 4.375rem; // 70px
$size-80: 5rem; // 80px
$size-90: 5.625rem; // 90px
$size-100: 6.25rem; // 100px
$size-200: 12.5rem; // 200px
$size-300: 18.75rem; // 300px
$size-400: 25rem; // 400px
$size-500: 31.25rem; // 500px
$size-1000: 62.5rem; // 1000px

//Calc Samples:
// calc(#{$size-100} + #{$size-18});
// 960px:
// calc(#{$size-500} + #{$size-400} + #{$size-60});


// Max Width and Full Width see grids.scss:
// 73.75rem is same or more or less as 1180px, 960px is 60rem, 83.375rem = 1366px
$max-width: 83.375rem !default;

// Templates with full screen width like a landing page (landing.html):
$full-width: 100% !default;

// ---------------------------- CSS VARIABLES: ---------------------------------

// ------------------------------- @COLORS -------------------------------------
:root {
  --black: #000;
  --grey: #999;
  --white: #fff;

  //  Color Palette:
  --swatch1: #fff1c5;
  --swatch2: #9b5d73;
  --swatch3: #c38b8b;
  --swatch4: #61405e;
  --swatch5: #88af92;

  // Cntainers/Themes Colors:
  --theme1: #393232;
  --theme2: #4d4545;
  --theme3: #8d6262;
  --theme4: #161616;

  // Typography Colors:
  --text-color: var(--swatch1);
  --titles-color: var(--swatch3);
  --a-color: var(--swatch1);
  --h-color: var(--swatch4);
  --p-color: var(--white);  

  // Font Stacks:
--default-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  

  // Buttons:
  --button1-color: var(--swatch4);

  // Misc;
  --glow: 0 0 $size-4 var(--swatch5);
}
// -------------------------- END of CSS VARIABLES: ------------------------------
