// Sass variables
// ------------------------------- @COLORES ----------------------------------
// Basic:
$black: rgba(0, 0, 0, 1);
$grey: rgba(153, 153, 153, 1);
$orange: rgba(255, 165, 0, 1);
$purple: rgba(128, 0, 128, 1);
$red: rgba(255, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

// Named:
$cement: rgba(84, 91, 113, 1);
$cement-dark: rgba(39, 43, 53, 1);
$fog: rgba(221, 234, 242, 1);
$grisaille: rgba(144, 164, 174, 1);
$charcoal: rgba(30, 31, 36, 1);
$mist: rgba(176, 196, 223, 1);
$midnight: rgba(15, 15, 15, 1);

// Container's Colors:
$body-html-color: $cement;
$container-color: $charcoal;
$global-theme-color: $black;
$theme1-color: $midnight;
$theme2-color: $cement-dark;

// ------------------------------- @FONTS --------------  ----------------------

// $unique-font: 'SomeGoogleFontETC', cursive;

// Regular font family  @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

//Typography Colors:
$a-color: $fog;
$h-color: $mist;
$li-color: $orange;
$p-color: $white;
$text-color: $mist;
$titles-color: $cement;

// ----------------------------- @GLOBAL SIZES ---------------------------------
//Based on 16px:
$size-1: .0625rem; // 1px
$size-2: .125rem; // 2px
$size-4: .25rem; // 4px
$size-6: .375rem; // 6px
$size-8: .5rem; // 8px
$size-10: .625rem; // 10px
$size-12: .75rem; // 12px
$size-14: .875em; // 14px

$size-16: 1rem; // 16px

$size-18: 1.125rem; // 18px
$size-20: 1.25rem; // 20px
$size-30: 1.875rem; // 30px
$size-40: 2.5rem; // 40px
$size-50: 3.125rem; // 50px
$size-60: 3.75rem; // 60px
$size-70: 4.375rem; // 70px
$size-80: 5rem; // 80px
$size-90: 5.625rem; // 90px
$size-100: 6.25rem; // 100px
$size-200: 12.5rem; // 200px
$size-300: 18.75rem; // 300px
$size-400: 25rem; // 400px
$size-500: 31.25rem; // 500px
$size-1000: 62.5rem; // 1000px

//Calc Samples:
// calc(#{$size-100} + #{$size-18});
// 960px:
// calc(#{$size-500} + #{$size-400} + #{$size-60});

// Max Width and Full Width see grids.scss:
// 73.75rem is same or more or less as 1180px, 960px is 60rem, 83.375rem = 1366px
$max-width: 83.375rem !default;

// Templates with full screen width like a landing page (landing.html):
$full-width: 100% !default;
