// Functions, Extenders and Mixins:
//-=-=-=-=--=-=-=-=-=-=--=-=- BASIC Extend Helpers -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Mainly very useful extentenders to dry up CSS a bit
// Example:
// @extend %float-left;

%txt-align-center {
  text-align: center;
}

%global-padding {
  padding: $size-16;
}

%float-left {
  float: left;
}

%float-right {
  float: right;
}

%cursor-pointer {
  cursor: pointer;
}

%transition-fade {
  opacity: .5;
  transition: .5s;
}

%global-border-radius {
  border-radius: $size-4;
}
