// Functions, Extenders and Mixins:
//-=-=-=-=--=-=-=-=-=-=--=-=- BASIC Extend Helpers -=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// Example:
// @extend %global-padding;

%global-padding {
  padding: $size-12;
}

%transition-fade {
  opacity: .5;
  transition: .5s;
}

%global-border-radius {
  border-radius: $size-6;
}
