html {
  box-sizing: border-box;
}

body {
  background-color: var(--swatch-body);
  color: var(--swatch-text);
  font-family: var(--default-font-stack);
  font-size: 100%;
  line-height: 1.5;
}

//----------------------------- Basic Reset-------------------------------------
// Comment out and or paste/compare with vendor resets: -
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  // padding: 0;
}

a,
ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  //Might make an extend for display block
  border: 0;
  display: block;
  max-width: 100%;
}
