html {
  box-sizing: border-box;
}

body {
  background-color: var(--theme1);
  color: var(--text-color);
  font-family: var(--default-font-stack);
  font-size: 100%;
  line-height: 1.5;
}

//----------------------------- Basic Reset-------------------------------------
// Might want to comment out and or compare with vendor resets -
*,
*::before,
*::after {
  box-sizing: inherit;
  // margin: 0;
  // padding: 0;
}


//-=-=-=-=--=-=-=--=-=- Basic Global Extend/Helpers -=-=-=-=-=-=-=-==-=-=-=-=-=-
// Example:
// @extend %global-padding;

%global-padding {
  padding: $size-12;
}

%global-border-radius {
  border-radius: $size-6;
}

%transition-fade {
  opacity: .5;
  transition: .5s;
}

// --------------------Class Helpers:
.anim-zoomin {
  animation: anim-zoomin .3s cubic-bezier(.72, .2, .96, .39);
  transform-origin: center bottom;
}
@keyframes anim-zoomin {
  from {
    opacity: 0;
    transform: scale3d(.65, .75, 1);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

//-=-=-=-=--=-=-=--=-=- END  Global Extend/Helpers -=-=-=-=-=-=-==-=-=-=-=-=-=-=


a,
ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  // border: 0;
  max-width: 100%;
}

// Highlighters:
mark,
code,
.current {
  @extend %global-border-radius;
  background-color: var(--swatch4);
  }
