// The Base:, basically a simple reset file. Comment-out, delete and or compare
// This file with the vendor resets.
// -----------------------------------------------------------------------------

//:root {}

body,
html {
  background: $body-html-color;
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 100%;
  line-height: 1.15;
}

//----------------------------- Basic Reset-------------------------------------
// Might want to comment out and or compare with vendor resets:
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// -----------------------------------------------------------------------------
a,
ul {
  list-style-type: none;
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
}

// Highlighters:
mark,
code,
.current {
  background-color: $cement;
  color: $black;
  padding: $size-4;
  }

// Styles for the current state links:
.current {
  @extend %global-border-radius;
   }
