// Typography:

h1,
h2,
h3 {
  color: var(--h-color);
  font-weight: 700;
}

.h1-header {
  margin: $size-30;
  text-align: center;

  &:hover {
    @extend %transition-fade;
  }
}

.titles {
  color: var(--titles-color);
  margin: $size-20 0;
  text-align: center;
 }

.p-block {
  text-align: justify;
 }
