// Typography:

h1,
h2,
h3 {
  color: var(--h-color);
  font-weight: 700;
}

.h1-header {
  margin: $size-30;
  text-align: center;

  &:hover {
    @extend %transition-fade;
  }
}

// Might move these to helpers.scss? :
.titles {
  @extend %global-padding;
  color: var(--titles-color);
  text-align: center;
 }

.p-block {
  // display: block;
  @extend %global-padding;
  text-align: justify;
 }
