// Typography:

h1,
h2,
h3 {
  color: $h-color;
  font-weight: 700;
}

.h1-header {
  // float: left; // put this on media queries
  margin: $size-30;
  text-align: center;

  &:hover {
    @extend %transition-fade;
  }
}

.titles {
  color: $titles-color;
  margin: $size-20 0;
  text-align: center;
 }
