// Generic Containers:
// display: grid | inline-grid | subgrid;
%container-init {
  @extend %global-padding;
  display: grid;
  grid-gap: $size-16;
}

// See the index, landing and about. It auto flows to 3 boxes per row,-
.container-display {
  @extend %container-init;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
}

// Masonry style layouts container (see yard page):
// Just like container-display but it auto-fills
.container-masonry {
  @extend %container-init;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

// Grid container cells, without medida query. Used in read more panels:
.container-cell {
  @extend %global-border-radius;
  background-color: var(--swatch5);
  color: var(--p-color);
}

// Generic container without grid enabled:
.container-generic {
  background-color: var(--swatch5);
  margin: $size-30;
}
