// Custom made buttons:

.button {
  @extend %global-border-radius;
  @extend %txt-align-center;
  background-color: $cement-dark;
  color: $grisaille;
  margin: $size-10 auto;
  max-width: 100px;
  padding: $size-8;

  &:hover {
    @extend %transition-fade;
      }
}
