// Custom made buttons:

// button initializer:
%button-init {
  @extend %global-border-radius;
  display: block;
  margin: $size-10 auto;
  max-width: $size-100;
  padding: $size-8;
  text-align: center;

  &:hover {
    @extend %transition-fade;
      }
}

// Global Button:
.button-global {
  @extend %button-init;
  background-color: $midnight;

  a {
    color: $cloud;
  }
}

// Light color button:
.button-light {
  @extend %button-init;
  background-color: $fog;

  a {
    color: $midnight;
  }
}
