// Buttons:
%button-init {
  @extend %global-border-radius;
  display: block;
  margin: $size-16 auto;
  max-width: calc(#{$size-100} + #{$size-40});
  padding: $size-8;
  text-align: center;

  &:hover {
    box-shadow: var(--glow);
    transition-duration: .8s;
      }
}

// Global Button:
.button-global {
  @extend %button-init;
  background-color: var(--button1-color);
  color: var(--text-color);
}
