// Generic Containers:

%container-init {
  @extend %global-padding;
  background-color: $container-color;
  display: grid;
}

.container-generic {
  @extend %container-init;
}

// Basically for cards or showcase of images, see yard and about content.
.container-display {
  @extend %container-init;
  grid-auto-rows: minmax($size-100, auto);
  grid-gap: $size-20;
  grid-template-columns: repeat(1, 1fr);
}
