// Generic Containers:
// display: grid | inline-grid | subgrid;
%container-init {
  @extend %global-padding;
  //Color can be for visual feedback:
  background-color: $container-color;
  display: grid;
}

.container-generic {
  @extend %container-init;
}

// Basically for cards or showcase of images etc., see yard and about content.
// It auto flows to 3 boxes per row, see media queries to change it to any number.
.container-display {
  @extend %container-init;
  grid-auto-rows: auto;
  grid-row-gap: 40px;
  grid-template-columns: repeat(1, 1fr);
}
