// Not only it gives it background and border-radius, it centers them as well
.icon-center {
  // background-color: $cement-dark;
  // border-radius: 4px;
  height: 50px;
  margin: auto;
  width: 50px;
}
