// CSS Grid Template-Containers
// display: grid | inline-grid | subgrid;

%grid-init {
  display: grid;
  grid-gap: $size-1;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
}

// ---- All Template areas Header|Nav|Hero|Sidebars|Main|Footer: ---------------
// Example: used in index.html and yard.html
.template-all {
  @extend %grid-init;
  grid-template-areas:
  'headerTem'
  'navTem'
  'heroTem'
  'sidebar1Tem'
  'mainTem'
  'sidebar2Tem'
  'footerTem';
  // Safe to comment out template rows if all are set to auto:
  grid-template-rows: auto auto auto auto auto;
  max-width: $max-width;
}

// ----------- Basic Template areas Header|Nav|Hero|Main|Footer: ---------------
// No sidebars
// Example: Used in blog.html & about.html
.template-basic {
  @extend %grid-init;
  grid-template-areas:
  'headerTem'
  'navTem'
  'heroTem'
  'mainTem'
  'footerTem';
// Safe to comment out template rows if all are set to auto:
  grid-template-rows: auto auto auto auto auto;

  max-width: $max-width;
}

// ------------ Minimum Template areas Header|Nav|Main|Footer: -----------------
// No sidebars and hero sections
// Example: Used in contact.html
.template-minimum {
  @extend %grid-init;
  grid-template-areas:
  'headerTem'
  'navTem'
  'mainTem'
  'footerTem';
// Safe to comment out template rows if all are set to auto:
  grid-template-rows: auto auto auto auto;

  max-width: $max-width;
}

// ------------ Single Template areas |Main|Footer: -----------------
// Notice that it hass a max-width $full-width (100%)
// Example: Used in landing.html.
.template-single {
  @extend %grid-init;
  grid-template-areas:
  'openTem'
  'mainTem'
  'footerTem';
  // Safe to comment out template rows if all are set to auto:
  grid-template-rows: auto auto auto;
  max-width: $full-width;
}
