// -=-=-=-=-=-=-=-=-=-=-=-=-=-=- MEDIA QUERIES -=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=
// No variables on media queries-----
// IMPORTANT: Rememeber that Nav-Section is Flexbox
// ---------------- Nav, container-display/Media Queries:
// 30rem = 480px
@media (min-width: 30rem) {
  .nav-section {
    height: auto;

    .ul-nav {
      flex-direction: row;
      //justify-content: flex-start | flex-end | center | space-between | space-around;
      justify-content: center;
    }
  }

  .logo-icon,
  .h1-header {
    float: left;
}

  .hamburger-icon {
    display: none;
  }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// ---------------- Nav/Media Queries:
// 50rem = 800px
@media (min-width: 50rem) {
  .nav-section {
    .ul-nav {
      justify-content: flex-end;
      // Uncomment the li if you want it for the list to expand, but comment out
      // the justify-content: flex-end;

      // li {
      //   flex: 1 0 auto;
      // }
    }
  }

  // landing.scss/html page is also using this extender for fixed image:
  %hero-image-init {
    // background-attachment is set to scroll on mobil size, fixed doesn't work on mobil?:
    background-attachment: fixed;
    }

  .container-display {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

// -=-=-=-=--=-=-=-=- CSS GRID Layout-- Media Queries -=-=-=-=-=-=-=-=-=-=-=-=-=
// Moves the sidebars to top and bottom I haven't found a better solution yet
// 64rem =  1024px:
@media (min-width: 64rem) {
  .template-all {
    grid-template-areas:
    'headerTem headerTem headerTem'
    'navTem navTem navTem'
    'heroTem heroTem heroTem'
    'sidebar1Tem mainTem sidebar2Tem'
    'footerTem footerTem footerTem';

    grid-template-columns: 1fr 4fr 1fr;
  }
}
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= END -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=
