// -=-=-=-=-=-=-=-=-=-=-=-=-=-=- MEDIA QUERIES -=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=
// No variables on media queries-----
// IMPORTANT: Rememeber that Nav-Section is Flexbox
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// ---------------- Nav, Hero/Media Queries:
//  30rem = 480px.
@media (max-width: 30rem) {
  .nav-section {
    // Hamburger icon and ul-nav toggle; Tweak this height to a specific
    // size to toggle the nav menu's height:
    height: 16rem;
    overflow: hidden;
    transition: height .5s;

    .ul-nav {
      margin: auto;
      padding: $size-8;
      width: 70%;
    }
  }

  .logo-icon,
  .hamburger-icon,
  .h1-header {
    float: none;
    margin: $size-16 auto;
    text-align: center;
  }

  // Toggle for Hamburger/Menu:
  .toggle {
    height: 0;
  }

  // Hero images don't stay fixed (parallax effects) on mobil devices?
  .hero-image,
  .landing-page {
    background-attachment: scroll;
  }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// ---------------- Nav/Media Queries:
// 30rem = 480px
@media (min-width: 30rem) {
  .nav-section {
    .ul-nav {
      flex-direction: row;
      //justify-content: flex-start | flex-end | center | space-between | space-around;
      justify-content: center;
    }
  }

  .hamburger-icon {
    display: none;
  }
}

// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// ---------------- Nav/Media Queries:
// 50rem = 800px
@media (min-width: 50rem) {
  .nav-section {
    .ul-nav {
      justify-content: flex-end;
      // Uncomment the li if you want it for the list to expand, but comment out
      // the justify-content: flex-end;

      li {
        //flex: 1 0 auto;
      }
    }
  }

  // ---------------- Container Display/Media Queries:
  .container-display {
    grid-column-gap: 80px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 95%;
    }
}

// -=-=-=-=--=-=-=-=- CSS GRID Layout-- Media Queries -=-=-=-=-=-=-=-=-=-=-=-=-=
// -------------- Template ==All==  min-width: 64rem: --------------------------
// 64rem =  1024px:
@media (min-width: 64rem) {
  .template-all {
    grid-template-areas:
    'headerTem headerTem headerTem'
    'navTem navTem navTem'
    'heroTem heroTem heroTem'
    'sidebar1Tem mainTem sidebar2Tem'
    'footerTem footerTem footerTem';

    grid-template-columns: 1fr 4fr 1fr;
  }
}
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= END -=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=
