// Header Section:
.header-section {
  background-color: $theme1-color;
  grid-area: headerTem;
}

.logo-icon,
.hamburger-icon {
  cursor: pointer;
  display: block;
  margin: $size-16 auto;

  &:hover {
    @extend %transition-fade;
  }
}
