// Header Section:
.header-section {
  background-color: $theme1-color;
  grid-area: headerTem;
}

.hamburger-icon {
  cursor: pointer;
  display: block;
  float: right;
  margin: $size-40;

  &:hover {
    @extend %transition-fade;
  }
}

// Logo with transition fade:
.logo-icon {
  display: block;
  float: left;
  // margin: $size-4;

  &:hover {
    @extend %transition-fade;
  }
}
