// Header Section:

.header-section {grid-area: headerTem;}

.hamburger-icon {
  @extend %float-right;
  @extend %cursor-pointer;
  margin: $size-40;

  &:hover {
    @extend %transition-fade;
  }
}

// Logo with transition fade:
.logo-icon {
  @extend %float-left;
  margin: $size-4;

  &:hover {
    @extend %transition-fade;
  }
}
