// Hamburger icon and ul-nav toggle; Tweak this height to a specific
// size to toggle the nav menu's height:
.nav-section {
  background-color: var(--swatch3);
  grid-area: navTem;
  height: calc(#{$size-200} + #{$size-80}); // 280px
  overflow: hidden;
  transition: height .5s;
}

.ul-nav {
  display: flex;
  flex-direction: column;
  padding: $size-4;

  li {
    @extend %global-border-radius;
    margin: $size-4;
    transition-duration: .4s;

    &:hover {
      background-color: var(--button1-color);
    }
  }

  a {
    color: var(--a-color);
    display: block;
    padding: $size-8 $size-20;
    text-align: center;
  }
}

// Toggle for Hamburger Nav Menu:
.toggle-menu {
  height: 0;
}
