// Hero Section, It could also be used for sliders, ads etc..
.hero-section {
  background-color: var(--theme4);
  grid-area: heroTem;
}

// landing.scss/html page is also using this extender:
%hero-image-init {
  // background-attachment is set to fixed in media-queries (fixed doesn't work on mobil?):
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: .7;
}

// Main Hero image:
.hero-image {
  @extend %hero-image-init;
  background-image: url('../images/hero.jpg');
  min-height: 50vh;
}
