// Hero Section, It could also be used for sliders, ads, showcases etc..
.hero-section {grid-area: heroTem;}

// Main Hero image:
.hero-image {
  // To set it to normal set the background-attachment to scroll (media queries):
  background-attachment: fixed;
  background-image: url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: $size-500;
  // opacity: .7;
}
