// Thee Sidebars sections:

.sidebar1-section {
  background-color: var(--theme2-color);
  grid-area: sidebar1Tem;
}

.sidebar2-section {
  background-color: var(--theme2-color);
  grid-area: sidebar2Tem;
}
