// Centering header text for a full screen landing HTML page:
.open-section {
  grid-area: openTem;
}

.landing-page {
  @extend %hero-image-init;
  align-items: center;
  background-image: url('../images/bg-hero.png');
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 $size-20;
  text-align: center;

  h1,
  p {
    margin-bottom: $size-30;
  }

  .h1-landing {
    font-size: $size-40;

    &:hover {
      @extend %transition-fade;
    }
  }
}
