:root {
  --swatch1: #eceff1;
  --swatch2: #90a4ae;
  --swatch3: #607d8b;
  --swatch4: #37474f;
  --swatch5: #263238;
  --swatch-accent: #bae8d8;
  --text-color: var(--swatch1);
  --titles-color: var(--swatch-accent);
  --h-color: var(--swatch2);
  --p-color: var(--swatch1);
  --default-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --button1-color: var(--swatch4);
  --glow: 0 0 0.25rem var(--swatch1); }

.h1-header:hover, .logo-icon:hover,
.hamburger-icon:hover, .landing-page h1:hover {
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s; }

.anim-zoomin {
  -webkit-animation: anim-zoomin 0.3s cubic-bezier(0.72, 0.2, 0.96, 0.39);
  animation: anim-zoomin 0.3s cubic-bezier(0.72, 0.2, 0.96, 0.39);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

@-webkit-keyframes anim-zoomin {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.65, 0.75, 1);
    transform: scale3d(0.65, 0.75, 1); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes anim-zoomin {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.65, 0.75, 1);
    transform: scale3d(0.65, 0.75, 1); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.titles, .p-block, .container-display, .container-masonry {
  padding: 0.75rem; }

mark,
code,
.current, .ul-nav li, .container-cell, .button-global {
  border-radius: 0.375rem; }

mark,
code,
.current {
  background-color: var(--button1-color); }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: var(--swatch4);
  color: var(--text-color);
  font-family: var(--default-font-stack);
  font-size: 100%;
  line-height: 1.5; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

a,
ul {
  list-style-type: none;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

h1,
h2,
h3 {
  color: var(--h-color);
  font-weight: 700; }

.h1-header {
  margin: 1.875rem;
  text-align: center; }

.titles {
  color: var(--titles-color);
  text-align: center; }

.p-block {
  text-align: justify; }

.header-section {
  background-color: var(--swatch5);
  grid-area: headerTem; }

.logo-icon,
.hamburger-icon {
  cursor: pointer;
  margin: 1rem auto; }
  .logo-icon:hover,
  .hamburger-icon:hover {
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1); }

.nav-section {
  background-color: var(--swatch3);
  grid-area: navTem;
  height: calc(12.5rem + 5rem);
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s; }

.ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.25rem; }
  .ul-nav li {
    margin: 0.25rem;
    -webkit-transition-duration: .4s;
    transition-duration: .4s; }
    .ul-nav li:hover {
      background-color: var(--button1-color); }
  .ul-nav a {
    color: var(--a-color);
    display: block;
    padding: 0.5rem 1.25rem;
    text-align: center; }

.js-toggle-menu {
  height: 0; }

.hero-section {
  grid-area: heroTem; }

.hero-image, .landing-page {
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-image {
  background-image: url("../images/hero.jpg");
  height: 45vh; }

.sidebar1-section {
  background-color: var(--swatch3);
  grid-area: sidebar1Tem; }

.sidebar2-section {
  background-color: var(--swatch3);
  grid-area: sidebar2Tem; }

.main-section {
  background-color: var(--swatch3);
  grid-area: mainTem; }

.open-section {
  grid-area: openTem; }

.footer-section {
  background-color: var(--swatch5);
  color: var(--swatch1);
  grid-area: footerTem;
  text-align: center; }

.landing-page {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/bg-hero.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1.25rem;
  text-align: center; }
  .landing-page .h1-landing,
  .landing-page p {
    margin-bottom: 1.875rem; }
  .landing-page h1 {
    font-size: 2.5rem; }

.container-display, .container-masonry {
  display: grid;
  grid-gap: 1.25rem; }

.container-masonry {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }

.container-cell {
  background-color: var(--swatch5);
  color: var(--p-color); }

.container-generic {
  background-color: var(--swatch5);
  margin: 1.875rem; }

.button-global {
  display: block;
  margin: 1rem auto;
  max-width: calc(6.25rem + 2.5rem);
  padding: 0.5rem;
  text-align: center; }
  .button-global:hover {
    -webkit-box-shadow: var(--glow);
    box-shadow: var(--glow);
    -webkit-transition-duration: .8s;
    transition-duration: .8s; }

.button-global {
  background-color: var(--button1-color);
  color: var(--text-color); }

.icon-center {
  height: 3.125rem;
  margin: 1rem auto; }

.image-thumb {
  width: 100%; }

.template-all, .template-basic, .template-minimum, .template-single {
  display: grid;
  grid-gap: 0.125rem;
  grid-template-columns: repeat(1, 1fr);
  margin: auto; }

.template-all {
  grid-template-areas: 'headerTem' 'navTem' 'heroTem' 'sidebar1Tem' 'mainTem' 'sidebar2Tem' 'footerTem';
  grid-template-rows: repeat(5, auto);
  max-width: 83.375rem; }

.template-basic {
  grid-template-areas: 'headerTem' 'navTem' 'heroTem' 'mainTem' 'footerTem';
  grid-template-rows: repeat(5, auto);
  max-width: 83.375rem; }

.template-minimum {
  grid-template-areas: 'headerTem' 'navTem' 'mainTem' 'footerTem';
  grid-template-rows: repeat(4, auto);
  max-width: 83.375rem; }

.template-single {
  grid-template-areas: 'openTem' 'mainTem' 'footerTem';
  grid-template-rows: repeat(3, auto);
  max-width: 100%; }

@media (min-width: 30rem) {
  .nav-section {
    height: auto; }
    .nav-section .ul-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .logo-icon,
  .h1-header {
    float: left; }
  .hamburger-icon {
    display: none; } }

@media (min-width: 50rem) {
  .nav-section .ul-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .hero-image, .landing-page {
    background-attachment: fixed; }
  .container-display {
    grid-template-columns: repeat(3, minmax(250px, 1fr)); }
  .container-masonry {
    grid-template-columns: repeat(4, minmax(250px, 1fr)); } }

@media (min-width: 64rem) {
  .template-all {
    grid-template-areas: 'headerTem headerTem headerTem' 'navTem navTem navTem' 'heroTem heroTem heroTem' 'sidebar1Tem mainTem sidebar2Tem' 'footerTem footerTem footerTem';
    grid-template-columns: 1fr 4fr 1fr; } }
