.titles, .text-align-center {
  text-align: center; }

.container-generic, .container-display {
  padding: 0.625rem; }

.h1-header, .logo-icon {
  float: left; }

.hamburger-icon {
  float: right; }

.hamburger-icon {
  cursor: pointer; }

.h1-header:hover, .hamburger-icon:hover, .logo-icon:hover {
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s; }

:root {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  background: #545b71;
  color: #b0c4df;
  font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.15; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.h1-header,
.logo-icon,
.hamburger-icon {
  display: block; }

.ul-nav {
  list-style-type: none;
  text-decoration: none; }

img {
  border: 0;
  max-width: 100%; }

li {
  -webkit-transition-duration: .4s;
  transition-duration: .4s; }

.current {
  background-color: #545b71;
  color: black;
  padding: 0.25rem; }

.current,
.ul-nav :hover {
  border-radius: 0.25rem; }

a {
  color: white;
  text-decoration: none; }

h1,
h2,
h3 {
  color: #90a4ae;
  font-family: "FOO", cursive;
  font-weight: 700; }

.h1-header {
  margin: 1.875rem; }

.titles {
  color: #545b71;
  margin: 1.25rem 0; }

.header-section {
  grid-area: headerTem; }

.hamburger-icon {
  margin: 2.5rem; }

.logo-icon {
  margin: 0.25rem; }

.nav-section {
  grid-area: navTem; }

.ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ul-nav li {
    margin: 0.25rem; }
    .ul-nav li:hover {
      background-color: #545b71; }
  .ul-nav a {
    display: block;
    padding: 0.5rem 1.25rem;
    text-align: center; }

.hero-section {
  grid-area: heroTem; }

.hero-image {
  background-attachment: fixed;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 31.25rem;
  position: relative; }

.sidebar1-section {
  grid-area: sidebar1Tem; }

.sidebar2-section {
  grid-area: sidebar2Tem; }

.main-section {
  grid-area: mainTem; }

.footer-section {
  grid-area: footerTem; }

.container-generic, .container-display {
  background-color: #1e1f24; }

.container-display {
  display: grid;
  grid-auto-rows: minmax(6.25rem, auto);
  grid-gap: 1.25rem;
  grid-template-columns: repeat(1, 1fr); }

.icon-center {
  height: 33px;
  margin: auto;
  width: 33px; }

.template-all, .template-basic, .template-minimum {
  display: grid;
  grid-gap: 0.125rem;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  max-width: 83.375rem; }

.template-all {
  grid-template-areas: 'headerTem' 'navTem' 'heroTem' 'sidebar1Tem' 'mainTem' 'sidebar2Tem' 'footerTem'; }

.template-basic {
  grid-template-areas: 'headerTem' 'navTem' 'heroTem' 'mainTem' 'footerTem'; }

.template-minimum {
  grid-template-areas: 'headerTem' 'navTem' 'mainTem' 'footerTem'; }

.global-theme {
  background-color: #272b35; }

.theme1 {
  background-color: #272b35; }

.theme2 {
  background-color: #2b1830; }

@media (max-width: 25rem) {
  .logo-icon,
  .hamburger-icon,
  .h1-header {
    float: none;
    margin: 1rem auto;
    text-align: center; } }

@media (max-width: 30rem) {
  .nav-section {
    height: 14rem;
    overflow: hidden;
    -webkit-transition: height .5s;
    transition: height .5s; }
    .nav-section .ul-nav {
      margin: auto;
      padding: 0;
      width: 70%; }
  .toggle {
    height: 0; }
  .hero-image {
    background-attachment: scroll; } }

@media (min-width: 30rem) {
  .nav-section .ul-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .hamburger-icon {
    display: none; }
  .container-display {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    max-width: 95%; } }

@media (min-width: 50rem) {
  .nav-section .ul-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

@media (min-width: 30rem) {
  .template-all {
    grid-template: repeat(6, auto)/repeat(2, auto);
    grid-template-areas: 'headerTem headerTem' 'navTem navTem' 'heroTem heroTem' 'mainTem mainTem' 'sidebar1Tem sidebar2Tem' 'footerTem footerTem'; }
  .template-basic {
    grid-template: repeat(5, auto)/repeat(2, auto);
    grid-template-areas: 'headerTem headerTem' 'navTem navTem' 'heroTem heroTem' 'mainTem mainTem' 'footerTem footerTem'; }
  .template-minimum {
    grid-template: repeat(4, auto)/repeat(2, auto);
    grid-template-areas: 'headerTem headerTem' 'navTem navTem' 'mainTem mainTem' 'footerTem footerTem'; } }

@media (min-width: 64rem) {
  .template-all {
    grid-template-areas: 'headerTem headerTem headerTem' 'navTem navTem navTem' 'heroTem heroTem heroTem' 'sidebar1Tem mainTem sidebar2Tem' 'footerTem footerTem footerTem';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto auto auto; }
  .template-basic {
    grid-template-areas: 'headerTem headerTem headerTem' 'navTem navTem navTem' 'heroTem heroTem heroTem' 'mainTem mainTem mainTem' 'footerTem footerTem footerTem';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto auto auto; }
  .template-minimum {
    grid-template-areas: 'headerTem headerTem headerTem' 'navTem navTem navTem' 'mainTem mainTem mainTem' 'footerTem footerTem footerTem';
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto auto auto; } }

/*# sourceMappingURL=index.css.map */
