.container-generic, .container-display {
  padding: 0.75rem; }

.h1-header:hover, .hamburger-icon:hover, .logo-icon:hover, .landing-page .h1-landing:hover, .button-global:hover, .button-light:hover {
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s; }

.current, .ul-nav li, .button-global, .button-light {
  border-radius: 0.25rem; }

html {
  background: #545b71;
  color: #ddeaf2;
  font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a,
ul {
  list-style-type: none;
  text-decoration: none; }

img {
  border: 0;
  max-width: 100%; }

mark,
code,
.current {
  background-color: #545b71;
  color: black;
  padding: 0.25rem; }

h1,
h2,
h3 {
  color: #b0c4df;
  font-weight: 700; }

.h1-header {
  float: left;
  margin: 1.875rem; }

.titles {
  color: #545b71;
  margin: 1.25rem 0;
  text-align: center; }

.header-section {
  background-color: #0f0f0f;
  grid-area: headerTem; }

.hamburger-icon {
  cursor: pointer;
  display: block;
  float: right;
  margin: 2.5rem; }

.logo-icon {
  display: block;
  float: left; }

.nav-section {
  background-color: #272b35;
  grid-area: navTem; }

.ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .ul-nav li {
    margin: 0.25rem;
    -webkit-transition-duration: .4s;
    transition-duration: .4s; }
    .ul-nav li:hover {
      background-color: #545b71; }
  .ul-nav a {
    color: #ddeaf2;
    display: block;
    padding: 0.5rem 1.25rem;
    text-align: center; }

.hero-section {
  background-color: #0f0f0f;
  grid-area: heroTem; }

.hero-image, .landing-page {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-image {
  background-image: url("../images/hero.jpg");
  min-height: 60vh; }

.sidebar1-section {
  background-color: #272b35;
  grid-area: sidebar1Tem; }

.sidebar2-section {
  background-color: #272b35;
  grid-area: sidebar2Tem; }

.main-section {
  background-color: #272b35;
  grid-area: mainTem; }

.open-section {
  grid-area: openTem; }

.landing-page {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/bg-hero.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 1.25rem;
  text-align: center; }
  .landing-page h1,
  .landing-page p {
    margin-bottom: 1.875rem; }
  .landing-page .h1-landing {
    font-size: 2.5rem; }

.footer-section {
  background-color: #0f0f0f;
  grid-area: footerTem; }

.button-global, .button-light {
  display: block;
  margin: 0.625rem auto;
  max-width: 6.25rem;
  padding: 0.5rem;
  text-align: center; }

.button-global {
  background-color: #0f0f0f; }
  .button-global a {
    color: #90a4ae; }

.button-light {
  background-color: #ddeaf2; }
  .button-light a {
    color: #0f0f0f; }

.grid-gallery-cell {
  background-color: #999999;
  color: black; }

.container-generic, .container-display {
  background-color: #1e1f24;
  display: grid; }

.container-display {
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, auto)); }

.icon-center {
  height: 33px;
  margin: auto;
  width: 33px; }

.template-all, .template-basic, .template-minimum, .template-single {
  display: grid;
  grid-gap: 0.0625rem;
  grid-template-columns: repeat(1, 1fr);
  margin: auto; }

.template-all {
  grid-template-areas: 'headerTem' 'navTem' 'heroTem' 'sidebar1Tem' 'mainTem' 'sidebar2Tem' 'footerTem';
  grid-template-rows: auto auto auto auto auto;
  max-width: 83.375rem; }

.template-basic {
  grid-template-areas: 'headerTem' 'navTem' 'heroTem' 'mainTem' 'footerTem';
  grid-template-rows: auto auto auto auto auto;
  max-width: 83.375rem; }

.template-minimum {
  grid-template-areas: 'headerTem' 'navTem' 'mainTem' 'footerTem';
  grid-template-rows: auto auto auto auto;
  max-width: 83.375rem; }

.template-single {
  grid-template-areas: 'openTem' 'mainTem' 'footerTem';
  grid-template-rows: auto auto auto;
  max-width: 100%; }

@media (max-width: 30rem) {
  .nav-section {
    height: 16rem;
    overflow: hidden;
    -webkit-transition: height .5s;
    transition: height .5s; }
    .nav-section .ul-nav {
      margin: auto;
      padding: 0.5rem;
      width: 70%; }
  .logo-icon,
  .hamburger-icon,
  .h1-header {
    float: none;
    margin: 1rem auto;
    text-align: center; }
  .toggle {
    height: 0; }
  .hero-image,
  .landing-page {
    background-attachment: scroll; } }

@media (min-width: 30rem) {
  .nav-section .ul-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .hamburger-icon {
    display: none; } }

@media (min-width: 50rem) {
  .nav-section .ul-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .container-display {
    grid-column-gap: 1.25rem;
    grid-template-columns: auto auto auto; } }

@media (min-width: 64rem) {
  .template-all {
    grid-template-areas: 'headerTem headerTem headerTem' 'navTem navTem navTem' 'heroTem heroTem heroTem' 'sidebar1Tem mainTem sidebar2Tem' 'footerTem footerTem footerTem';
    grid-template-columns: 1fr 4fr 1fr; } }

/*# sourceMappingURL=index.css.map */
